* {
    margin: 0px;
    padding: 0px;
}

body {
font-family: Inter;
}

.header-navigation-list {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.navigation-item-about-us:link, .navigation-item-about-us:visited {
    text-decoration: none;
    color: #000;
} 

.link-learn-more:link, .link-learn-more:visited{
    text-decoration: none;
    color: #FFF;
}

.header-navigation-item {
    display: inline-block;
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: center;
    
}

.image-main {
    width: 100%;
    margin-bottom: 88px;
}

.title-main {
    margin: 0px 272px 40px;
    text-align: center; 
    font-size: 48px;
    font-weight: 600;
    line-height: 64.8px;
}

.paragraph-text {
    margin: 0px 272px 24px;
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;    
}

.paragraph-list {
    margin: 0px 272px 40px;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.list-item {
    margin-left: 20px;
}

.button-learn-more {
    margin: 0px auto;
    display: flex;
    padding: 10px 24px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px; 
    background: #04959E;
    border: none;
}

.button-div {
    padding: 10px;
    margin-bottom: 88px;
}
.footer {
    margin: 1px 272px 0px;
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-text {
    margin: 0px auto;
    color: #161616;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.line-bottom {
    background: #161616;
    height: 1px;
    align-self: stretch;
}

.paragraph-text-strong {
    color: #04959E;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;  
}

